<?xml version="1.0"?>
<module xmlns="http://schema.slothsoft.net/farah/module" xmlns:sfm="http://schema.slothsoft.net/farah/module">
  <!--
Farah Module Manifest

Module: amber
Vendor: slothsoft
Farah ID: farah://slothsoft@amber
Composer ID: slothsoft/amber

Homepage: http://farah.slothsoft.net/modules/amber
Packagist: https://packagist.org/packages/slothsoft/amber
GitHub: https://github.com/Faulo/slothsoft-amber

Llo
-->
  <default-configuration/>
  <assets>
    <resource-directory name="data" path="data" type="application/x-php"/>
    <resource-directory name="css" path="stylesheet" type="text/css"/>
    <resource-directory name="js" path="script" type="application/javascript"/>
    <resource-directory name="xsl" path="template" type="application/xslt+xml"/>
    <resource-directory name="dictionary" path="dictionary" type="application/xml"/>
    <resource-directory name="pages" path="pages" type="application/xml"/>
    <directory name="static">
      <resource name="sites.mod" path="sites.mod.xml" type="application/xml"/>
      <resource name="editor" path="editor.xml" type="application/xml"/>
      <resource name="config" path="config.json" type="application/json"/>
      <resource name="charStruc" path="charStruc.xml" type="application/xml"/>
      <resource name="partyStruc" path="partyStruc.xml" type="application/xml"/>
      <resource name="AmbermoonSavegame" path="ambermoon/structure.xml" type="application/xml"/>
      <resource name="items-map" path="AmbermoonItems.png" type="image/png"/>
      <resource name="portraits-map" path="AmbermoonPortraits.png" type="image/png"/>
      <resource name="AmbermoonItems" path="ambermoon\Thalion-v1.05-DE\lib\items.xml" type="application/xml"/>
      <resource name="AmbermoonPortraits" path="AmbermoonPortraits.xml" type="application/xml"/>
      <resource-directory name="saves" path="save" type="application/octet-stream"/>
      <resource-directory name="portraits" path="portraits" type="image/png"/>
      <resource-directory name="items" path="items" type="image/png"/>
      <resource-directory name="tilesets" path="tilesets" type="image/png"/>
      <resource-directory name="monster-gfx" path="monster-gfx" type="image/png"/>
      <resource-directory name="AmbermoonPatch" path="save/patch" type="*/*"/>
      <resource-directory name="patch" path="patches" type="*/*"/>
    </directory>
    <fragment name="description">
      <include-fragment ref="//slothsoft/default"/>
      <fragment name="content">
        <use-template ref="xsl/description"/>
        <use-document ref="//farah/sites"/>
        <include-fragment ref="default"/>
      </fragment>
      <use-document ref="chat"/>
    </fragment>
    <fragment name="mod.editor">
      <include-fragment ref="//slothsoft/default"/>
      <fragment name="content">
        <use-document ref="data/mod.editor"/>
        <use-template ref="xsl/editor"/>
        <include-fragment ref="default"/>
        <include-fragment ref="SavegameEditor"/>
        <use-document ref="data/mod.resource-document" as="amberdata">
          <param name="id" value="libs"/>
        </use-document>
      </fragment>
    </fragment>
    <fragment name="mod.resource">
      <include-fragment ref="//slothsoft@slothsoft/default"/>
      <fragment name="content">
        <use-document as="list" ref="data/mod.resource-document"/>
        <use-document as="amberdata" ref="data/mod.resource-document">
          <param name="id" value="libs"/>
        </use-document>
        <use-template ref="xsl/editor.data-list"/>
        <include-fragment ref="default"/>
        <include-fragment ref="SavegameEditor"/>
        <include-fragment ref="//slothsoft@lib/pixijs"/>
        <use-script ref="js/MapViewer"/>
        <include-fragment ref="//slothsoft@lib/babylonjs"/>
        <use-script ref="js/DungeonViewer"/>
      </fragment>
    </fragment>
    <fragment name="chat">
      <param name="chat-database" value="amber"/>
      <use-template ref="//chat/xsl/shoutbox"/>
      <use-document ref="//chat/default" as="chat"/>
    </fragment>
    <fragment name="default">
      <use-stylesheet ref="css/default"/>
      <use-stylesheet ref="css/amber-picker"/>
    </fragment>
    <fragment name="SavegameEditor">
      <use-script ref="//core/js/XSLT"/>
      <use-script ref="//core/js/NS"/>
      <use-script ref="js/SavegameEditor"/>
    </fragment>
  </assets>
</module>
