<?xml version="1.0" encoding="UTF-8"?>
<module>
	<cache-directory name="amberfiles">
		<data name="amber.install"/>
	</cache-directory>
	
	<fragment name="description">
		<struc name="/slothsoft/default" />
		<fragment name="content">
			<template name="description" />
			<struc name="default" />
		</fragment>
		<call name="chat" />
	</fragment>
	
	<fragment name="mod.editor">
		<struc name="/slothsoft/default" />
		<fragment name="content">
			<data name="mod.editor" />
			<template name="editor" />
			<struc name="default" />
			<struc name="SavegameEditor" />
			<!--
				<data name="mod.resource-document" as="items">
				<param name="id" value="items" />
				</data>

				<data name="mod.resource-document" as="portraits">
				<param name="id" value="portraits" />
				</data>
			-->
			<data name="mod.resource-document" as="amberdata">
				<param name="id" value="libs" />
			</data>
		</fragment>
	</fragment>

	<fragment name="mod.resource">
		<struc name="/slothsoft/default" />
		<fragment name="content">
			<data name="mod.resource-document" as="list" />
			<data name="mod.resource-document" as="amberdata">
				<param name="id" value="libs" />
			</data>
			<template name="editor.data-list" />
			<struc name="default" />
			<struc name="SavegameEditor" />
			<struc name="/lib/pixijs" />
			<script name="MapViewer" />
			<struc name="/lib/babylonjs" />
			<script name="DungeonViewer" />
		</fragment>
	</fragment>

	<fragment name="chat">
		<param name="chat-database" value="amber" />
		<template name="/chat/shoutbox" />
		<call name="/chat/default" as="chat" />
	</fragment>
	
	
	
	
	
<!-- 
	<fragment name="home">
		<struc name="/slothsoft/default" />
		<fragment name="content">
			<template name="home" />
			<struc name="default" />
		</fragment>
		<call name="chat" />
	</fragment>

	
	<fragment name="editor">
		<struc name="/slothsoft/default" />
		<fragment name="content">
			<data name="editor" />
			<template name="editor" />
			<struc name="default" />
		</fragment>
	</fragment>

	<fragment name="editor-savegame">
		<struc name="/slothsoft/default" />
		<param name="EditorConfig" value="/amber/AmbermoonSavegame" />
		<call name="editor-content" as="content" />
	</fragment>

	<fragment name="editor-gamedata">
		<struc name="/slothsoft/default" />
		<param name="EditorConfig" value="/amber/AmbermoonGamedata" />
		<call name="editor-content" as="content" />
	</fragment>

	<fragment name="editor-amberfiles">
		<struc name="/slothsoft/default" />
		<param name="EditorConfig" value="/amber/AmbermoonAmberfiles" />
		<call name="editor-content" as="content" />
	</fragment>

	<fragment name="editor-content">
		<data name="editor" />
		<template name="editor" />
		<struc name="default" /
		<script name="SavegameEditor" />
		<res name="AmbermoonItems" as="items" load="xml" />
		<res name="AmbermoonPortraits" as="portraits" load="xml" />
	</fragment>

	<fragment name="help">
		<struc name="/slothsoft/default" />
		<fragment name="content">
			<template name="help" />
			<struc name="default" />
			<res name="/core/sites" load="xml" />
		</fragment>
		<call name="chat" />
	</fragment>

	<fragment name="epchart">
		<struc name="/slothsoft/default" />
		<fragment name="content">
			<template name="epchart" />
			<struc name="default" />
			<res name="config" load="xml" />
		</fragment>
	</fragment>

	<fragment name="itemlist">
		<struc name="/slothsoft/default" />
		<call name="itemlist-content" as="content" />
	</fragment>
	<fragment name="itemlist-content">
		<template name="editor.data-list" />
		<struc name="default" />
		<res name="AmbermoonItems" as="list" load="xml" />
	</fragment>

	<fragment name="portraitlist">
		<struc name="/slothsoft/default" />
		<call name="portraitlist-content" as="content" />
	</fragment>
	<fragment name="portraitlist-content">
		<template name="editor.data-list" />
		<struc name="default" />
		<res name="AmbermoonPortraits" as="list" load="xml" />
	</fragment>

	<fragment name="items">
		<param name="standalone" scope="global" />
		<template name="items" />
		<data name="items" />
		<res name="item-map" load="status base64" />
	</fragment>


	<fragment name="extract-all">
		<param name="standalone" scope="global" />
		<data name="extract-all" />
		<template name="editor.extract" />
	</fragment>

	<fragment name="extract-items">
		<param name="standalone" scope="global" />
		<data name="extract-items" />
		<template name="editor.extract" />
	</fragment>

	<fragment name="extract-maps">
		<param name="standalone" scope="global" />
		<data name="extract-maps" />
		<template name="editor.extract" />
	</fragment>

	<fragment name="extract-monsters">
		<param name="standalone" scope="global" />
		<data name="extract-monsters" />
		<template name="editor.extract" />
	</fragment>

	<fragment name="extract-classes">
		<param name="standalone" scope="global" />
		<data name="extract-classes" />
		<template name="editor.extract" />
	</fragment>
-->







	<struc name="default">
		<style name="default" />
		<style name="amber-picker" />
		<data name="mod.resource-stylesheet">
			<param name="id" value="styles" />
		</data>
	</struc>
	<struc name="SavegameEditor">
		<script name="/core/XSLT" />
		<script name="/core/NS" />
		<script name="SavegameEditor" />
	</struc>







	<resource name="sites" path="sites.xml" type="application/xml" />
	<resource name="sites-mod" path="sites.mod.xml" type="application/xml" />

	<resource name="editor" path="editor.xml" type="application/xml" />
	<resource name="config" path="config.json" type="application/json" />
	<resource name="charStruc" path="charStruc.xml" type="application/xml" />
	<resource name="partyStruc" path="partyStruc.xml" type="application/xml" />

	
	<resource name="AmbermoonSavegame" path="ambermoon/structure.xml"
		type="application/xml" />
	
	<!-- <resource name="AmbermoonDictionary" path="AmbermoonDictionary.xml"
		type="application/xml"/> <resource name="AmbermoonItems" path="AmbermoonItems.svg"
		type="image/svg+xml"/> <resource name="AmbermoonCPU" path="AmbermoonCPU.xml"
		type="application/xml"/> -->

	<resource name="items-map" path="AmbermoonItems.png" type="image/png" />
	<resource name="portraits-map" path="AmbermoonPortraits.png"
		type="image/png" />

	<resource name="AmbermoonItems" path="ambermoon\Thalion-v1.05-DE\lib\items.xml"
		type="application/xml" />
	<resource name="AmbermoonPortraits" path="AmbermoonPortraits.xml"
		type="application/xml" />

	<resourceDir name="saves" path="save" type="application/octet-stream" />
	<resourceDir name="portraits" path="portraits" type="image/png" />
	<resourceDir name="items" path="items" type="image/png" />
	<resourceDir name="tilesets" path="tilesets" type="image/png" />
	<resourceDir name="monster-gfx" path="monster-gfx" type="image/png" />

	<resourceDir name="AmbermoonPatch" path="save/patch" type="*/*" />
	
	<resourceDir name="patch" path="patches" type="*/*" />

</module>
