 amber-item-id::after {
background-image: url("/getData.php/amber/mod.resource?game=ambermoon&mod=Thalion-v1.05-DE&type=3&name=items%2F001-49");
background-clip: content-box;
background-size: cover;
background-repeat: no-repeat;
display: block;
content: " ";
}
 amber-item-id[value="1"]::after { background-position-y: -130em; }
 amber-item-id[value="2"]::after { background-position-y: -131em; }
 amber-item-id[value="3"]::after { background-position-y: -132em; }
 amber-item-id[value="4"]::after { background-position-y: -133em; }
 amber-item-id[value="5"]::after { background-position-y: -134em; }
 amber-item-id[value="6"]::after { background-position-y: -135em; }
 amber-item-id[value="7"]::after { background-position-y: -136em; }
 amber-item-id[value="8"]::after { background-position-y: -137em; }
 amber-item-id[value="9"]::after { background-position-y: -138em; }
 amber-item-id[value="10"]::after { background-position-y: -81em; }
 amber-item-id[value="11"]::after { background-position-y: -81em; }
 amber-item-id[value="12"]::after { background-position-y: -81em; }
 amber-item-id[value="13"]::after { background-position-y: -81em; }
 amber-item-id[value="14"]::after { background-position-y: -81em; }
 amber-item-id[value="15"]::after { background-position-y: -81em; }
 amber-item-id[value="16"]::after { background-position-y: -81em; }
 amber-item-id[value="17"]::after { background-position-y: -81em; }
 amber-item-id[value="18"]::after { background-position-y: -81em; }
 amber-item-id[value="19"]::after { background-position-y: -81em; }
 amber-item-id[value="20"]::after { background-position-y: -81em; }
 amber-item-id[value="21"]::after { background-position-y: -81em; }
 amber-item-id[value="22"]::after { background-position-y: -81em; }
 amber-item-id[value="23"]::after { background-position-y: -81em; }
 amber-item-id[value="24"]::after { background-position-y: -81em; }
 amber-item-id[value="25"]::after { background-position-y: -81em; }
 amber-item-id[value="26"]::after { background-position-y: -81em; }
 amber-item-id[value="27"]::after { background-position-y: -81em; }
 amber-item-id[value="28"]::after { background-position-y: -81em; }
 amber-item-id[value="29"]::after { background-position-y: -81em; }
 amber-item-id[value="30"]::after { background-position-y: -81em; }
 amber-item-id[value="31"]::after { background-position-y: -81em; }
 amber-item-id[value="32"]::after { background-position-y: -81em; }
 amber-item-id[value="33"]::after { background-position-y: -81em; }
 amber-item-id[value="34"]::after { background-position-y: -81em; }
 amber-item-id[value="35"]::after { background-position-y: -81em; }
 amber-item-id[value="36"]::after { background-position-y: -81em; }
 amber-item-id[value="37"]::after { background-position-y: -81em; }
 amber-item-id[value="38"]::after { background-position-y: -81em; }
 amber-item-id[value="39"]::after { background-position-y: -81em; }
 amber-item-id[value="40"]::after { background-position-y: -79em; }
 amber-item-id[value="41"]::after { background-position-y: -79em; }
 amber-item-id[value="42"]::after { background-position-y: -79em; }
 amber-item-id[value="43"]::after { background-position-y: -79em; }
 amber-item-id[value="44"]::after { background-position-y: -79em; }
 amber-item-id[value="45"]::after { background-position-y: -79em; }
 amber-item-id[value="46"]::after { background-position-y: -79em; }
 amber-item-id[value="47"]::after { background-position-y: -79em; }
 amber-item-id[value="48"]::after { background-position-y: -79em; }
 amber-item-id[value="49"]::after { background-position-y: -79em; }
 amber-item-id[value="50"]::after { background-position-y: -79em; }
 amber-item-id[value="51"]::after { background-position-y: -79em; }
 amber-item-id[value="52"]::after { background-position-y: -79em; }
 amber-item-id[value="53"]::after { background-position-y: -79em; }
 amber-item-id[value="54"]::after { background-position-y: -79em; }
 amber-item-id[value="55"]::after { background-position-y: -79em; }
 amber-item-id[value="56"]::after { background-position-y: -79em; }
 amber-item-id[value="57"]::after { background-position-y: -79em; }
 amber-item-id[value="58"]::after { background-position-y: -79em; }
 amber-item-id[value="59"]::after { background-position-y: -79em; }
 amber-item-id[value="60"]::after { background-position-y: -79em; }
 amber-item-id[value="61"]::after { background-position-y: -79em; }
 amber-item-id[value="62"]::after { background-position-y: -79em; }
 amber-item-id[value="63"]::after { background-position-y: -79em; }
 amber-item-id[value="64"]::after { background-position-y: -79em; }
 amber-item-id[value="65"]::after { background-position-y: -79em; }
 amber-item-id[value="66"]::after { background-position-y: -79em; }
 amber-item-id[value="67"]::after { background-position-y: -79em; }
 amber-item-id[value="68"]::after { background-position-y: -79em; }
 amber-item-id[value="69"]::after { background-position-y: -79em; }
 amber-item-id[value="70"]::after { background-position-y: -78em; }
 amber-item-id[value="71"]::after { background-position-y: -78em; }
 amber-item-id[value="72"]::after { background-position-y: -78em; }
 amber-item-id[value="73"]::after { background-position-y: -78em; }
 amber-item-id[value="74"]::after { background-position-y: -78em; }
 amber-item-id[value="75"]::after { background-position-y: -78em; }
 amber-item-id[value="76"]::after { background-position-y: -78em; }
 amber-item-id[value="77"]::after { background-position-y: -78em; }
 amber-item-id[value="78"]::after { background-position-y: -78em; }
 amber-item-id[value="79"]::after { background-position-y: -78em; }
 amber-item-id[value="80"]::after { background-position-y: -78em; }
 amber-item-id[value="81"]::after { background-position-y: -78em; }
 amber-item-id[value="82"]::after { background-position-y: -78em; }
 amber-item-id[value="83"]::after { background-position-y: -78em; }
 amber-item-id[value="84"]::after { background-position-y: -78em; }
 amber-item-id[value="85"]::after { background-position-y: -78em; }
 amber-item-id[value="86"]::after { background-position-y: -78em; }
 amber-item-id[value="87"]::after { background-position-y: -78em; }
 amber-item-id[value="88"]::after { background-position-y: -78em; }
 amber-item-id[value="89"]::after { background-position-y: -78em; }
 amber-item-id[value="90"]::after { background-position-y: -78em; }
 amber-item-id[value="91"]::after { background-position-y: -78em; }
 amber-item-id[value="92"]::after { background-position-y: -78em; }
 amber-item-id[value="93"]::after { background-position-y: -78em; }
 amber-item-id[value="94"]::after { background-position-y: -78em; }
 amber-item-id[value="95"]::after { background-position-y: -78em; }
 amber-item-id[value="96"]::after { background-position-y: -78em; }
 amber-item-id[value="97"]::after { background-position-y: -78em; }
 amber-item-id[value="98"]::after { background-position-y: -78em; }
 amber-item-id[value="99"]::after { background-position-y: -78em; }
 amber-item-id[value="100"]::after { background-position-y: -77em; }
 amber-item-id[value="101"]::after { background-position-y: -77em; }
 amber-item-id[value="102"]::after { background-position-y: -77em; }
 amber-item-id[value="103"]::after { background-position-y: -77em; }
 amber-item-id[value="104"]::after { background-position-y: -77em; }
 amber-item-id[value="105"]::after { background-position-y: -77em; }
 amber-item-id[value="106"]::after { background-position-y: -77em; }
 amber-item-id[value="107"]::after { background-position-y: -77em; }
 amber-item-id[value="108"]::after { background-position-y: -77em; }
 amber-item-id[value="109"]::after { background-position-y: -77em; }
 amber-item-id[value="110"]::after { background-position-y: -77em; }
 amber-item-id[value="111"]::after { background-position-y: -77em; }
 amber-item-id[value="112"]::after { background-position-y: -77em; }
 amber-item-id[value="113"]::after { background-position-y: -77em; }
 amber-item-id[value="114"]::after { background-position-y: -77em; }
 amber-item-id[value="115"]::after { background-position-y: -77em; }
 amber-item-id[value="116"]::after { background-position-y: -77em; }
 amber-item-id[value="117"]::after { background-position-y: -77em; }
 amber-item-id[value="118"]::after { background-position-y: -77em; }
 amber-item-id[value="119"]::after { background-position-y: -77em; }
 amber-item-id[value="120"]::after { background-position-y: -77em; }
 amber-item-id[value="121"]::after { background-position-y: -77em; }
 amber-item-id[value="122"]::after { background-position-y: -77em; }
 amber-item-id[value="123"]::after { background-position-y: -77em; }
 amber-item-id[value="124"]::after { background-position-y: -77em; }
 amber-item-id[value="125"]::after { background-position-y: -77em; }
 amber-item-id[value="126"]::after { background-position-y: -77em; }
 amber-item-id[value="127"]::after { background-position-y: -77em; }
 amber-item-id[value="128"]::after { background-position-y: -77em; }
 amber-item-id[value="129"]::after { background-position-y: -77em; }
 amber-item-id[value="130"]::after { background-position-y: -97em; }
 amber-item-id[value="156"]::after { background-position-y: -64em; }
 amber-item-id[value="157"]::after { background-position-y: -116em; }
 amber-item-id[value="158"]::after { background-position-y: -59em; }
 amber-item-id[value="218"]::after { background-position-y: -123em; }
 amber-item-id[value="239"]::after { background-position-y: -119em; }
 amber-item-id[value="240"]::after { background-position-y: -118em; }
 amber-item-id[value="242"]::after { background-position-y: -112em; }
 amber-item-id[value="243"]::after { background-position-y: -91em; }
 amber-item-id[value="255"]::after { background-position-y: -87em; }
 amber-item-id[value="263"]::after { background-position-y: -65em; }
 amber-item-id[value="264"]::after { background-position-y: -71em; }
 amber-item-id[value="267"]::after { background-position-y: -117em; }
 amber-item-id[value="268"]::after { background-position-y: -61em; }
 amber-item-id[value="270"]::after { background-position-y: -54em; }
 amber-item-id[value="272"]::after { background-position-y: -90em; }
 amber-item-id[value="280"]::after { background-position-y: -14em; }
 amber-item-id[value="281"]::after { background-position-y: -51em; }
 amber-item-id[value="283"]::after { background-position-y: -57em; }
 amber-item-id[value="301"]::after { background-position-y: -121em; }
 amber-item-id[value="316"]::after { background-position-y: -70em; }
 amber-item-id[value="317"]::after { background-position-y: -138em; }
 amber-item-id[value="320"]::after { background-position-y: -28em; }
 amber-item-id[value="334"]::after { background-position-y: -122em; }
 amber-item-id[value="344"]::after { background-position-y: -138em; }
 amber-item-id[value="352"]::after { background-position-y: -151em; }
 amber-item-id[value="355"]::after { background-position-y: -51em; }
 amber-item-id[value="364"]::after { background-position-y: -180em; }
 amber-item-id[value="365"]::after { background-position-y: -181em; }
 amber-item-id[value="367"]::after { background-position-y: -186em; }
 amber-item-id[value="368"]::after { background-position-y: -184em; }
 amber-item-id[value="369"]::after { background-position-y: -185em; }
 amber-item-id[value="377"]::after { background-position-y: -177em; }
 amber-item-id[value="378"]::after { background-position-y: -178em; }
 amber-item-id[value="379"]::after { background-position-y: -179em; }
 amber-item-id[value="398"]::after { background-position-y: -120em; }
 amber-item-id[value="131"]::after { background-position-y: -16em; }
 amber-item-id[value="135"]::after { background-position-y: -102em; }
 amber-item-id[value="155"]::after { background-position-y: -98em; }
 amber-item-id[value="159"]::after { background-position-y: -59em; }
 amber-item-id[value="161"]::after { background-position-y: -111em; }
 amber-item-id[value="209"]::after { background-position-y: -62em; }
 amber-item-id[value="235"]::after { background-position-y: -67em; }
 amber-item-id[value="236"]::after { background-position-y: -96em; }
 amber-item-id[value="259"]::after { background-position-y: -60em; }
 amber-item-id[value="260"]::after { background-position-y: -52em; }
 amber-item-id[value="287"]::after { background-position-y: -105em; }
 amber-item-id[value="321"]::after { background-position-y: -52em; }
 amber-item-id[value="343"]::after { background-position-y: -128em; }
 amber-item-id[value="354"]::after { background-position-y: -171em; }
 amber-item-id[value="363"]::after { background-position-y: -183em; }
 amber-item-id[value="375"]::after { background-position-y: -66em; }
 amber-item-id[value="132"]::after { background-position-y: -103em; }
 amber-item-id[value="133"]::after { background-position-y: -121em; }
 amber-item-id[value="134"]::after { background-position-y: -2em; }
 amber-item-id[value="136"]::after { background-position-y: -115em; }
 amber-item-id[value="137"]::after { background-position-y: -114em; }
 amber-item-id[value="386"]::after { background-position-y: -187em; }
 amber-item-id[value="138"]::after { background-position-y: -45em; }
 amber-item-id[value="205"]::after { background-position-y: -44em; }
 amber-item-id[value="246"]::after { background-position-y: -139em; }
 amber-item-id[value="247"]::after { background-position-y: -140em; }
 amber-item-id[value="256"]::after { background-position-y: -149em; }
 amber-item-id[value="257"]::after { background-position-y: -143em; }
 amber-item-id[value="258"]::after { background-position-y: -142em; }
 amber-item-id[value="261"]::after { background-position-y: -148em; }
 amber-item-id[value="279"]::after { background-position-y: -146em; }
 amber-item-id[value="284"]::after { background-position-y: -144em; }
 amber-item-id[value="291"]::after { background-position-y: -46em; }
 amber-item-id[value="292"]::after { background-position-y: -15em; }
 amber-item-id[value="294"]::after { background-position-y: -143em; }
 amber-item-id[value="297"]::after { background-position-y: -143em; }
 amber-item-id[value="315"]::after { background-position-y: -147em; }
 amber-item-id[value="318"]::after { background-position-y: -144em; }
 amber-item-id[value="340"]::after { background-position-y: -141em; }
 amber-item-id[value="341"]::after { background-position-y: -149em; }
 amber-item-id[value="346"]::after { background-position-y: -140em; }
 amber-item-id[value="349"]::after { background-position-y: -143em; }
 amber-item-id[value="353"]::after { background-position-y: -148em; }
 amber-item-id[value="357"]::after { background-position-y: -142em; }
 amber-item-id[value="366"]::after { background-position-y: -140em; }
 amber-item-id[value="370"]::after { background-position-y: -145em; }
 amber-item-id[value="371"]::after { background-position-y: -148em; }
 amber-item-id[value="384"]::after { background-position-y: -143em; }
 amber-item-id[value="385"]::after { background-position-y: -141em; }
 amber-item-id[value="388"]::after { background-position-y: -149em; }
 amber-item-id[value="389"]::after { background-position-y: -149em; }
 amber-item-id[value="390"]::after { background-position-y: -149em; }
 amber-item-id[value="391"]::after { background-position-y: -149em; }
 amber-item-id[value="392"]::after { background-position-y: -149em; }
 amber-item-id[value="393"]::after { background-position-y: -149em; }
 amber-item-id[value="400"]::after { background-position-y: -140em; }
 amber-item-id[value="401"]::after { background-position-y: -139em; }
 amber-item-id[value="402"]::after { background-position-y: -144em; }
 amber-item-id[value="139"]::after { background-position-y: -68em; }
 amber-item-id[value="140"]::after { background-position-y: -56em; }
 amber-item-id[value="141"]::after { background-position-y: -69em; }
 amber-item-id[value="142"]::after { background-position-y: -124em; }
 amber-item-id[value="143"]::after { background-position-y: -125em; }
 amber-item-id[value="144"]::after { background-position-y: -13em; }
 amber-item-id[value="145"]::after { background-position-y: -108em; }
 amber-item-id[value="160"]::after { background-position-y: -111em; }
 amber-item-id[value="206"]::after { background-position-y: -106em; }
 amber-item-id[value="210"]::after { background-position-y: -104em; }
 amber-item-id[value="241"]::after { background-position-y: -113em; }
 amber-item-id[value="244"]::after { background-position-y: -110em; }
 amber-item-id[value="274"]::after { background-position-y: -108em; }
 amber-item-id[value="300"]::after { background-position-y: -104em; }
 amber-item-id[value="329"]::after { background-position-y: -104em; }
 amber-item-id[value="339"]::after { background-position-y: -104em; }
 amber-item-id[value="345"]::after { background-position-y: -110em; }
 amber-item-id[value="362"]::after { background-position-y: -182em; }
 amber-item-id[value="372"]::after { background-position-y: -106em; }
 amber-item-id[value="373"]::after { background-position-y: -104em; }
 amber-item-id[value="374"]::after { background-position-y: -104em; }
 amber-item-id[value="376"]::after { background-position-y: -104em; }
 amber-item-id[value="381"]::after { background-position-y: -14em; }
 amber-item-id[value="387"]::after { background-position-y: -108em; }
 amber-item-id[value="397"]::after { background-position-y: -106em; }
 amber-item-id[value="146"]::after { background-position-y: -95em; }
 amber-item-id[value="147"]::after { background-position-y: -4em; }
 amber-item-id[value="148"]::after { background-position-y: -94em; }
 amber-item-id[value="149"]::after { background-position-y: -95em; }
 amber-item-id[value="150"]::after { background-position-y: -92em; }
 amber-item-id[value="151"]::after { background-position-y: -62em; }
 amber-item-id[value="152"]::after { background-position-y: -93em; }
 amber-item-id[value="153"]::after { background-position-y: -101em; }
 amber-item-id[value="154"]::after { background-position-y: -4em; }
 amber-item-id[value="208"]::after { background-position-y: -107em; }
 amber-item-id[value="266"]::after { background-position-y: -76em; }
 amber-item-id[value="282"]::after { background-position-y: -62em; }
 amber-item-id[value="162"]::after { background-position-y: -100em; }
 amber-item-id[value="163"]::after { background-position-y: -10em; }
 amber-item-id[value="164"]::after { background-position-y: -12em; }
 amber-item-id[value="248"]::after { background-position-y: -100em; }
 amber-item-id[value="278"]::after { background-position-y: -11em; }
 amber-item-id[value="290"]::after { background-position-y: -58em; }
 amber-item-id[value="360"]::after { background-position-y: -11em; }
 amber-item-id[value="165"]::after { background-position-y: -63em; }
 amber-item-id[value="166"]::after { background-position-y: -6em; }
 amber-item-id[value="167"]::after { background-position-y: -5em; }
 amber-item-id[value="168"]::after { background-position-y: -5em; }
 amber-item-id[value="169"]::after { background-position-y: -5em; }
 amber-item-id[value="170"]::after { background-position-y: -36em; }
 amber-item-id[value="171"]::after { background-position-y: -38em; }
 amber-item-id[value="172"]::after { background-position-y: -37em; }
 amber-item-id[value="173"]::after { background-position-y: -39em; }
 amber-item-id[value="249"]::after { background-position-y: -9em; }
 amber-item-id[value="262"]::after { background-position-y: -6em; }
 amber-item-id[value="275"]::after { background-position-y: -5em; }
 amber-item-id[value="286"]::after { background-position-y: -6em; }
 amber-item-id[value="299"]::after { background-position-y: -6em; }
 amber-item-id[value="311"]::after { background-position-y: -5em; }
 amber-item-id[value="322"]::after { background-position-y: -36em; }
 amber-item-id[value="382"]::after { background-position-y: -6em; }
 amber-item-id[value="396"]::after { background-position-y: -38em; }
 amber-item-id[value="174"]::after { background-position-y: -7em; }
 amber-item-id[value="175"]::after { background-position-y: -7em; }
 amber-item-id[value="176"]::after { background-position-y: -8em; }
 amber-item-id[value="250"]::after { background-position-y: -7em; }
 amber-item-id[value="312"]::after { background-position-y: -7em; }
 amber-item-id[value="347"]::after { background-position-y: -8em; }
 amber-item-id[value="361"]::after { background-position-y: -8em; }
 amber-item-id[value="177"]::after { background-position-y: -40em; }
 amber-item-id[value="178"]::after { background-position-y: -41em; }
 amber-item-id[value="179"]::after { background-position-y: -42em; }
 amber-item-id[value="180"]::after { background-position-y: -43em; }
 amber-item-id[value="395"]::after { background-position-y: -43em; }
 amber-item-id[value="181"]::after { background-position-y: -24em; }
 amber-item-id[value="182"]::after { background-position-y: -32em; }
 amber-item-id[value="183"]::after { background-position-y: -33em; }
 amber-item-id[value="184"]::after { background-position-y: -34em; }
 amber-item-id[value="185"]::after { background-position-y: -29em; }
 amber-item-id[value="186"]::after { background-position-y: -35em; }
 amber-item-id[value="187"]::after { background-position-y: -35em; }
 amber-item-id[value="188"]::after { background-position-y: -28em; }
 amber-item-id[value="189"]::after { background-position-y: -53em; }
 amber-item-id[value="190"]::after { background-position-y: -25em; }
 amber-item-id[value="191"]::after { background-position-y: -26em; }
 amber-item-id[value="192"]::after { background-position-y: -47em; }
 amber-item-id[value="193"]::after { background-position-y: -27em; }
 amber-item-id[value="194"]::after { background-position-y: -22em; }
 amber-item-id[value="195"]::after { background-position-y: -23em; }
 amber-item-id[value="196"]::after { background-position-y: -31em; }
 amber-item-id[value="197"]::after { background-position-y: -49em; }
 amber-item-id[value="232"]::after { background-position-y: -34em; }
 amber-item-id[value="237"]::after { background-position-y: -32em; }
 amber-item-id[value="251"]::after { background-position-y: -24em; }
 amber-item-id[value="276"]::after { background-position-y: -35em; }
 amber-item-id[value="298"]::after { background-position-y: -26em; }
 amber-item-id[value="313"]::after { background-position-y: -35em; }
 amber-item-id[value="319"]::after { background-position-y: -31em; }
 amber-item-id[value="330"]::after { background-position-y: -23em; }
 amber-item-id[value="337"]::after { background-position-y: -174em; }
 amber-item-id[value="356"]::after { background-position-y: -27em; }
 amber-item-id[value="394"]::after { background-position-y: -29em; }
 amber-item-id[value="198"]::after { background-position-y: -30em; }
 amber-item-id[value="199"]::after { background-position-y: -19em; }
 amber-item-id[value="200"]::after { background-position-y: -20em; }
 amber-item-id[value="201"]::after { background-position-y: -21em; }
 amber-item-id[value="231"]::after { background-position-y: -30em; }
 amber-item-id[value="277"]::after { background-position-y: -20em; }
 amber-item-id[value="285"]::after { background-position-y: -50em; }
 amber-item-id[value="296"]::after { background-position-y: -175em; }
 amber-item-id[value="331"]::after { background-position-y: -30em; }
 amber-item-id[value="338"]::after { background-position-y: -176em; }
 amber-item-id[value="350"]::after { background-position-y: -20em; }
 amber-item-id[value="351"]::after { background-position-y: -48em; }
 amber-item-id[value="383"]::after { background-position-y: -17em; }
 amber-item-id[value="202"]::after { background-position-y: -51em; }
 amber-item-id[value="203"]::after { background-position-y: -17em; }
 amber-item-id[value="204"]::after { background-position-y: -18em; }
 amber-item-id[value="233"]::after { background-position-y: -17em; }
 amber-item-id[value="323"]::after { background-position-y: -18em; }
 amber-item-id[value="335"]::after { background-position-y: -172em; }
 amber-item-id[value="336"]::after { background-position-y: -173em; }
 amber-item-id[value="207"]::after { background-position-y: -89em; }
 amber-item-id[value="271"]::after { background-position-y: -83em; }
 amber-item-id[value="288"]::after { background-position-y: -85em; }
 amber-item-id[value="302"]::after { background-position-y: -84em; }
 amber-item-id[value="303"]::after { background-position-y: -88em; }
 amber-item-id[value="304"]::after { background-position-y: -83em; }
 amber-item-id[value="305"]::after { background-position-y: -83em; }
 amber-item-id[value="306"]::after { background-position-y: -84em; }
 amber-item-id[value="307"]::after { background-position-y: -85em; }
 amber-item-id[value="308"]::after { background-position-y: -89em; }
 amber-item-id[value="309"]::after { background-position-y: -85em; }
 amber-item-id[value="333"]::after { background-position-y: -84em; }
 amber-item-id[value="342"]::after { background-position-y: -85em; }
 amber-item-id[value="359"]::after { background-position-y: -85em; }
 amber-item-id[value="211"]::after { background-position-y: -73em; }
 amber-item-id[value="212"]::after { background-position-y: -73em; }
 amber-item-id[value="213"]::after { background-position-y: -73em; }
 amber-item-id[value="214"]::after { background-position-y: -73em; }
 amber-item-id[value="215"]::after { background-position-y: -73em; }
 amber-item-id[value="216"]::after { background-position-y: -155em; }
 amber-item-id[value="217"]::after { background-position-y: -72em; }
 amber-item-id[value="219"]::after { background-position-y: -80em; }
 amber-item-id[value="220"]::after { background-position-y: -74em; }
 amber-item-id[value="221"]::after { background-position-y: -74em; }
 amber-item-id[value="222"]::after { background-position-y: -74em; }
 amber-item-id[value="223"]::after { background-position-y: -74em; }
 amber-item-id[value="224"]::after { background-position-y: -74em; }
 amber-item-id[value="225"]::after { background-position-y: -156em; }
 amber-item-id[value="226"]::after { background-position-y: -157em; }
 amber-item-id[value="227"]::after { background-position-y: -158em; }
 amber-item-id[value="228"]::after { background-position-y: -159em; }
 amber-item-id[value="229"]::after { background-position-y: -160em; }
 amber-item-id[value="230"]::after { background-position-y: -161em; }
 amber-item-id[value="245"]::after { background-position-y: -165em; }
 amber-item-id[value="252"]::after { background-position-y: -156em; }
 amber-item-id[value="253"]::after { background-position-y: -155em; }
 amber-item-id[value="254"]::after { background-position-y: -70em; }
 amber-item-id[value="295"]::after { background-position-y: -165em; }
 amber-item-id[value="324"]::after { background-position-y: -166em; }
 amber-item-id[value="325"]::after { background-position-y: -167em; }
 amber-item-id[value="326"]::after { background-position-y: -168em; }
 amber-item-id[value="327"]::after { background-position-y: -170em; }
 amber-item-id[value="328"]::after { background-position-y: -169em; }
 amber-item-id[value="380"]::after { background-position-y: -64em; }
 amber-item-id[value="399"]::after { background-position-y: -155em; }
 amber-item-id[value="234"]::after { background-position-y: -1em; }
 amber-item-id[value="265"]::after { background-position-y: -75em; }
 amber-item-id[value="269"]::after { background-position-y: -1em; }
 amber-item-id[value="289"]::after { background-position-y: -145em; }
 amber-item-id[value="310"]::after { background-position-y: -2em; }
 amber-item-id[value="314"]::after { background-position-y: -2em; }
 amber-item-id[value="332"]::after { background-position-y: -3em; }
 amber-item-id[value="348"]::after { background-position-y: -2em; }
 amber-item-id[value="358"]::after { background-position-y: -86em; }
 amber-item-id[value="238"]::after { background-position-y: -3em; }
 amber-item-id[value="273"]::after { background-position-y: -3em; }
 amber-item-id[value="293"]::after { background-position-y: -55em; }
 amber-item-id[value="1"]:hover::before { content: "GELÄHMT"; }
 amber-item-id[value="2"]:hover::before { content: "VERGIFTET"; }
 amber-item-id[value="3"]:hover::before { content: "VERSTEINERT"; }
 amber-item-id[value="4"]:hover::before { content: "KRANK"; }
 amber-item-id[value="5"]:hover::before { content: "ALTERUNG"; }
 amber-item-id[value="6"]:hover::before { content: "TOT"; }
 amber-item-id[value="7"]:hover::before { content: "VERRÜCKT"; }
 amber-item-id[value="8"]:hover::before { content: "ERBLINDET"; }
 amber-item-id[value="9"]:hover::before { content: "STONED"; }
 amber-item-id[value="10"]:hover::before { content: "HAND AUFLEGEN"; }
 amber-item-id[value="11"]:hover::before { content: "FURCHT LÖSEN"; }
 amber-item-id[value="12"]:hover::before { content: "PANIK BESEITIGEN"; }
 amber-item-id[value="13"]:hover::before { content: "SCHATTEN LÖSEN"; }
 amber-item-id[value="14"]:hover::before { content: "BLINDHEIT HEILEN"; }
 amber-item-id[value="15"]:hover::before { content: "SCHMERZEN LINDERN"; }
 amber-item-id[value="16"]:hover::before { content: "KRANKHEIT HEILEN"; }
 amber-item-id[value="17"]:hover::before { content: "LEICHTE HEILUNG"; }
 amber-item-id[value="18"]:hover::before { content: "GIFT LÖSEN"; }
 amber-item-id[value="19"]:hover::before { content: "GIFT NEUTRAL."; }
 amber-item-id[value="20"]:hover::before { content: "MITTLERE HEILUNG"; }
 amber-item-id[value="21"]:hover::before { content: "VERTREIBE UNTOTEN"; }
 amber-item-id[value="22"]:hover::before { content: "ZERSTÖRE UNTOTE"; }
 amber-item-id[value="23"]:hover::before { content: "HEILIGES WORT"; }
 amber-item-id[value="24"]:hover::before { content: "TOTE ERWECKEN"; }
 amber-item-id[value="25"]:hover::before { content: "ASCHE WANDELN"; }
 amber-item-id[value="26"]:hover::before { content: "STAUB WANDELN"; }
 amber-item-id[value="27"]:hover::before { content: "GROSSE HEILUNG"; }
 amber-item-id[value="28"]:hover::before { content: "MASSENHEILUNG"; }
 amber-item-id[value="29"]:hover::before { content: "WIEDERBELEBUNG"; }
 amber-item-id[value="30"]:hover::before { content: "STARRE AUFLÖSEN"; }
 amber-item-id[value="31"]:hover::before { content: "LÄHMUNG HEILEN"; }
 amber-item-id[value="32"]:hover::before { content: "ALTERUNG HEILEN"; }
 amber-item-id[value="33"]:hover::before { content: "ALTERUNG STOPPEN"; }
 amber-item-id[value="34"]:hover::before { content: "STEIN ZU FLEISCH"; }
 amber-item-id[value="35"]:hover::before { content: "AUFWECKEN"; }
 amber-item-id[value="36"]:hover::before { content: "IRRITATION HEILEN"; }
 amber-item-id[value="37"]:hover::before { content: "DROGEN AUFLÖSEN"; }
 amber-item-id[value="38"]:hover::before { content: "VERRÜCKTHEIT HEILEN"; }
 amber-item-id[value="39"]:hover::before { content: "AUSDAUER KRÄFTIGEN"; }
 amber-item-id[value="40"]:hover::before { content: "GEGENSTAND LADEN"; }
 amber-item-id[value="41"]:hover::before { content: "LICHT"; }
 amber-item-id[value="42"]:hover::before { content: "MAGISCHE FACKEL"; }
 amber-item-id[value="43"]:hover::before { content: "MAGISCHE LATERNE"; }
 amber-item-id[value="44"]:hover::before { content: "IMITIERTE SONNE"; }
 amber-item-id[value="45"]:hover::before { content: "GEISTERWAFFE"; }
 amber-item-id[value="46"]:hover::before { content: "ESSEN ERSCHAFFEN"; }
 amber-item-id[value="47"]:hover::before { content: "FLUCH BESEITIGEN"; }
 amber-item-id[value="48"]:hover::before { content: "BLINK"; }
 amber-item-id[value="49"]:hover::before { content: "SPRUNG"; }
 amber-item-id[value="50"]:hover::before { content: "FLUCHT"; }
 amber-item-id[value="51"]:hover::before { content: "WORT DES MARKIERENS"; }
 amber-item-id[value="52"]:hover::before { content: "WORT DER RÜCKKEHR"; }
 amber-item-id[value="53"]:hover::before { content: "MAGISCHES SCHILD"; }
 amber-item-id[value="54"]:hover::before { content: "MAGISCHE WAND"; }
 amber-item-id[value="55"]:hover::before { content: "MAGISCHE BARRIERE"; }
 amber-item-id[value="56"]:hover::before { content: "MAGISCHE WAFFE"; }
 amber-item-id[value="57"]:hover::before { content: "MAGISCHER ANGRIFF"; }
 amber-item-id[value="58"]:hover::before { content: "MAGISCHE ATTACKE"; }
 amber-item-id[value="59"]:hover::before { content: "LEVITATION"; }
 amber-item-id[value="60"]:hover::before { content: "ANTI MAGIE WAND"; }
 amber-item-id[value="61"]:hover::before { content: "ANTI MAGIE SPHERE"; }
 amber-item-id[value="62"]:hover::before { content: "ALCHEMISTIS. GLOBE"; }
 amber-item-id[value="63"]:hover::before { content: "HAST"; }
 amber-item-id[value="64"]:hover::before { content: "MASSENHAST"; }
 amber-item-id[value="65"]:hover::before { content: "REPARIERE GEGENST."; }
 amber-item-id[value="66"]:hover::before { content: "VERDOPPLE GEGENST."; }
 amber-item-id[value="67"]:hover::before { content: "LP-STEHLER"; }
 amber-item-id[value="68"]:hover::before { content: "SP-SAUGER"; }
 amber-item-id[value="69"]:hover::before { content: "ALCHEMIE SPRUCH -30"; }
 amber-item-id[value="70"]:hover::before { content: "MONSTER WISSEN"; }
 amber-item-id[value="71"]:hover::before { content: "IDENTIFIKATION"; }
 amber-item-id[value="72"]:hover::before { content: "WISSEN"; }
 amber-item-id[value="73"]:hover::before { content: "HELLSICHT"; }
 amber-item-id[value="74"]:hover::before { content: "WAHRHEIT SEHEN"; }
 amber-item-id[value="75"]:hover::before { content: "KARTENSCHAU"; }
 amber-item-id[value="76"]:hover::before { content: "MAGISCHER KOMPASS"; }
 amber-item-id[value="77"]:hover::before { content: "FALLEN FINDEN"; }
 amber-item-id[value="78"]:hover::before { content: "MONSTER FINDEN"; }
 amber-item-id[value="79"]:hover::before { content: "PERSONEN FINDEN"; }
 amber-item-id[value="80"]:hover::before { content: "GEHEIMTÜREN FINDEN"; }
 amber-item-id[value="81"]:hover::before { content: "MYSTISCHE KARTENZE."; }
 amber-item-id[value="82"]:hover::before { content: "MYSTISCHE KARTE I"; }
 amber-item-id[value="83"]:hover::before { content: "MYSTISCHE KARTE II"; }
 amber-item-id[value="84"]:hover::before { content: "MYSTISCHE KARTE III"; }
 amber-item-id[value="85"]:hover::before { content: "MYSTISCHER GLOBE"; }
 amber-item-id[value="86"]:hover::before { content: "ZEIGE MONSTER LP"; }
 amber-item-id[value="87"]:hover::before { content: "MYSTIK SPRUCH -18-"; }
 amber-item-id[value="88"]:hover::before { content: "MYSTIK SPRUCH -19-"; }
 amber-item-id[value="89"]:hover::before { content: "MYSTIK SPRUCH -20-"; }
 amber-item-id[value="90"]:hover::before { content: "MYSTIK SPRUCH -21-"; }
 amber-item-id[value="91"]:hover::before { content: "MYSTIK SPRUCH -22-"; }
 amber-item-id[value="92"]:hover::before { content: "MYSTIK SPRUCH -23-"; }
 amber-item-id[value="93"]:hover::before { content: "MYSTIK SPRUCH -24-"; }
 amber-item-id[value="94"]:hover::before { content: "MYSTIK SPRUCH -25-"; }
 amber-item-id[value="95"]:hover::before { content: "MYSTIK SPRUCH -26-"; }
 amber-item-id[value="96"]:hover::before { content: "MYSTIK SPRUCH -27-"; }
 amber-item-id[value="97"]:hover::before { content: "MYSTIK SPRUCH -28-"; }
 amber-item-id[value="98"]:hover::before { content: "MYSTIK SPRUCH -29-"; }
 amber-item-id[value="99"]:hover::before { content: "MYSTIK SPRUCH -30-"; }
 amber-item-id[value="100"]:hover::before { content: "MAGISCHES GESCHOSS"; }
 amber-item-id[value="101"]:hover::before { content: "MAGISCHE PFEILE"; }
 amber-item-id[value="102"]:hover::before { content: "LÄHMEN"; }
 amber-item-id[value="103"]:hover::before { content: "VERGIFTEN"; }
 amber-item-id[value="104"]:hover::before { content: "VERSTEINERN"; }
 amber-item-id[value="105"]:hover::before { content: "KRANKHEIT"; }
 amber-item-id[value="106"]:hover::before { content: "ALTERN"; }
 amber-item-id[value="107"]:hover::before { content: "IRRITATION"; }
 amber-item-id[value="108"]:hover::before { content: "VERRÜCKTHEIT"; }
 amber-item-id[value="109"]:hover::before { content: "SCHLAF"; }
 amber-item-id[value="110"]:hover::before { content: "FURCHT"; }
 amber-item-id[value="111"]:hover::before { content: "BLENDEN"; }
 amber-item-id[value="112"]:hover::before { content: "DROGEN"; }
 amber-item-id[value="113"]:hover::before { content: "OPFER AUFLÖSEN"; }
 amber-item-id[value="114"]:hover::before { content: "DRECKSCHLEUDER"; }
 amber-item-id[value="115"]:hover::before { content: "STEINSCHLAG"; }
 amber-item-id[value="116"]:hover::before { content: "ERDRUTSCH"; }
 amber-item-id[value="117"]:hover::before { content: "ERDBEBEN"; }
 amber-item-id[value="118"]:hover::before { content: "WINDTEUFEL"; }
 amber-item-id[value="119"]:hover::before { content: "WINDHEULER"; }
 amber-item-id[value="120"]:hover::before { content: "DONNERSCHLAG"; }
 amber-item-id[value="121"]:hover::before { content: "WIRBELSTURM"; }
 amber-item-id[value="122"]:hover::before { content: "FEUERSTRAHL"; }
 amber-item-id[value="123"]:hover::before { content: "FEUERBALL"; }
 amber-item-id[value="124"]:hover::before { content: "FEUERSTURM"; }
 amber-item-id[value="125"]:hover::before { content: "FEUERSÄULE"; }
 amber-item-id[value="126"]:hover::before { content: "WASSERFALL"; }
 amber-item-id[value="127"]:hover::before { content: "EISBALL"; }
 amber-item-id[value="128"]:hover::before { content: "EISSTURM"; }
 amber-item-id[value="129"]:hover::before { content: "EISSCHAUER"; }
 amber-item-id[value="130"]:hover::before { content: "FACKEL"; }
 amber-item-id[value="156"]:hover::before { content: "PILZ"; }
 amber-item-id[value="157"]:hover::before { content: "PILZ"; }
 amber-item-id[value="158"]:hover::before { content: "ELFENHARFE"; }
 amber-item-id[value="218"]:hover::before { content: "LEERE PHIOLE"; }
 amber-item-id[value="239"]:hover::before { content: "EI"; }
 amber-item-id[value="240"]:hover::before { content: "BERNSTEINBROCKEN"; }
 amber-item-id[value="242"]:hover::before { content: "BLASENFRUCHT"; }
 amber-item-id[value="243"]:hover::before { content: "LATERNE"; }
 amber-item-id[value="255"]:hover::before { content: "SUMPFLILIE"; }
 amber-item-id[value="263"]:hover::before { content: "AMULETT B O S"; }
 amber-item-id[value="264"]:hover::before { content: "AMULETT T A R"; }
 amber-item-id[value="267"]:hover::before { content: "NAGIERS BRIEF"; }
 amber-item-id[value="268"]:hover::before { content: "KOPF HÜGELRIESEN"; }
 amber-item-id[value="270"]:hover::before { content: "GOLDENE HUFEISEN"; }
 amber-item-id[value="272"]:hover::before { content: "GOLDENER WEINPOKAL"; }
 amber-item-id[value="280"]:hover::before { content: "KIRE'S BRIEF"; }
 amber-item-id[value="281"]:hover::before { content: "FEUERSTEIN & EISEN"; }
 amber-item-id[value="283"]:hover::before { content: "SELTSAMER STEIN"; }
 amber-item-id[value="301"]:hover::before { content: "AMBERMOON BILD"; }
 amber-item-id[value="316"]:hover::before { content: "EISWASSER"; }
 amber-item-id[value="317"]:hover::before { content: "KALMIR KRAUT"; }
 amber-item-id[value="320"]:hover::before { content: "XENOBIL HOLZ"; }
 amber-item-id[value="334"]:hover::before { content: "ÖFFNUNGSSTAB"; }
 amber-item-id[value="344"]:hover::before { content: "FEUERDISTEL"; }
 amber-item-id[value="352"]:hover::before { content: "SANSRIE'S BLUT"; }
 amber-item-id[value="355"]:hover::before { content: "SCHLANGENSTEIN"; }
 amber-item-id[value="364"]:hover::before { content: "GRAV. SCHEIBE GELB"; }
 amber-item-id[value="365"]:hover::before { content: "GRAVIERTE KUGEL ROT"; }
 amber-item-id[value="367"]:hover::before { content: "GRAVIER. KUGEL GELB"; }
 amber-item-id[value="368"]:hover::before { content: "GRAV. SCHEIBE GRÜN"; }
 amber-item-id[value="369"]:hover::before { content: "GRAV. SCHEIBE BLAU"; }
 amber-item-id[value="377"]:hover::before { content: "BLAUER NAVSTEIN"; }
 amber-item-id[value="378"]:hover::before { content: "GRÜNER NAVSTEIN"; }
 amber-item-id[value="379"]:hover::before { content: "GELBER NAVSTEIN"; }
 amber-item-id[value="398"]:hover::before { content: "MORAG WASSERFLASCHE"; }
 amber-item-id[value="131"]:hover::before { content: "KRISTALLKUGEL"; }
 amber-item-id[value="135"]:hover::before { content: "WINDPERLE"; }
 amber-item-id[value="155"]:hover::before { content: "FLÖTE"; }
 amber-item-id[value="159"]:hover::before { content: "KRISTALLHARFE"; }
 amber-item-id[value="161"]:hover::before { content: "MAGISCHE LANDKARTE"; }
 amber-item-id[value="209"]:hover::before { content: "SHANDRAS BERNSTEIN"; }
 amber-item-id[value="235"]:hover::before { content: "NETSRAKS ZAUBERSTAB"; }
 amber-item-id[value="236"]:hover::before { content: "WUNSCHMÜNZEN"; }
 amber-item-id[value="259"]:hover::before { content: "HEILIGES HORN"; }
 amber-item-id[value="260"]:hover::before { content: "GALA'S STAB"; }
 amber-item-id[value="287"]:hover::before { content: "SPHÄRE DER ÖFFNUNG"; }
 amber-item-id[value="321"]:hover::before { content: "STAB DES AUFBAUS"; }
 amber-item-id[value="343"]:hover::before { content: "DÄMONENSCHLAF"; }
 amber-item-id[value="354"]:hover::before { content: "KRISTALLSAITEN"; }
 amber-item-id[value="363"]:hover::before { content: "ANTIKER GEGENSTAND"; }
 amber-item-id[value="375"]:hover::before { content: "AMBERSTAR"; }
 amber-item-id[value="132"]:hover::before { content: "KOMPASS"; }
 amber-item-id[value="133"]:hover::before { content: "MAGISCHES BILD"; }
 amber-item-id[value="134"]:hover::before { content: "WINDKETTE"; }
 amber-item-id[value="136"]:hover::before { content: "KARTENLOKATOR"; }
 amber-item-id[value="137"]:hover::before { content: "UHR"; }
 amber-item-id[value="386"]:hover::before { content: "MONSTERAUGE"; }
 amber-item-id[value="138"]:hover::before { content: "DIETRICH"; }
 amber-item-id[value="205"]:hover::before { content: "SCHRANKSCHLÜSSEL"; }
 amber-item-id[value="246"]:hover::before { content: "TÜRSCHLÜSSEL (I)"; }
 amber-item-id[value="247"]:hover::before { content: "TÜRSCHLÜSSEL (II)"; }
 amber-item-id[value="256"]:hover::before { content: "ANTONIUS SCHLÜSSEL"; }
 amber-item-id[value="257"]:hover::before { content: "SANDRA'S SCHLÜSSEL"; }
 amber-item-id[value="258"]:hover::before { content: "BURNVILLE SCHLÜSSEL"; }
 amber-item-id[value="261"]:hover::before { content: "ZELLENSCHLÜSSEL"; }
 amber-item-id[value="279"]:hover::before { content: "NAGIERS SCHLÜSSEL"; }
 amber-item-id[value="284"]:hover::before { content: "GEFÄNGNISSSCHLÜSSEL"; }
 amber-item-id[value="291"]:hover::before { content: "KIRE'S SCHLÜSSEL"; }
 amber-item-id[value="292"]:hover::before { content: "MINENSCHLÜSSEL"; }
 amber-item-id[value="294"]:hover::before { content: "FERRIN'S SCHLÜSSEL"; }
 amber-item-id[value="297"]:hover::before { content: "BOLLGAR SCHLÜSSEL"; }
 amber-item-id[value="315"]:hover::before { content: "LUMINOR'S SCHLÜSSEL"; }
 amber-item-id[value="318"]:hover::before { content: "DREK'S SCHLÜSSEL"; }
 amber-item-id[value="340"]:hover::before { content: "SCHREIN SCHLÜSSEL"; }
 amber-item-id[value="341"]:hover::before { content: "BRALUM'S SCHLÜSSEL"; }
 amber-item-id[value="346"]:hover::before { content: "DÖNNER'S SCHLÜSSEL"; }
 amber-item-id[value="349"]:hover::before { content: "NOREL'S SCHLÜSSEL"; }
 amber-item-id[value="353"]:hover::before { content: "PELANI'S SCHLÜSSEL"; }
 amber-item-id[value="357"]:hover::before { content: "SANSRIE'S SCHLÜSSEL"; }
 amber-item-id[value="366"]:hover::before { content: "BUCH SCHLÜSSEL"; }
 amber-item-id[value="370"]:hover::before { content: "HANGARSCHLÜSSEL"; }
 amber-item-id[value="371"]:hover::before { content: "S'OREL SCHLÜSSEL"; }
 amber-item-id[value="384"]:hover::before { content: "TRUHENSCHLÜSSEL"; }
 amber-item-id[value="385"]:hover::before { content: "ZELLENSCHLÜSSEL"; }
 amber-item-id[value="388"]:hover::before { content: "PALAST S'OREL"; }
 amber-item-id[value="389"]:hover::before { content: "PALAST S'ARIN"; }
 amber-item-id[value="390"]:hover::before { content: "PALAST S'ENDAR"; }
 amber-item-id[value="391"]:hover::before { content: "PALAST S'TROG"; }
 amber-item-id[value="392"]:hover::before { content: "PALAST S'KAT"; }
 amber-item-id[value="393"]:hover::before { content: "PALAST S'LORWIN"; }
 amber-item-id[value="400"]:hover::before { content: "GRUFTSCHLÜSSEL"; }
 amber-item-id[value="401"]:hover::before { content: "SCHATZSCHLÜSSEL 1"; }
 amber-item-id[value="402"]:hover::before { content: "SCHATZSCHLÜSSEL 2"; }
 amber-item-id[value="139"]:hover::before { content: "MAGISCHE FLUGSCHEIB"; }
 amber-item-id[value="140"]:hover::before { content: "HEXENBESEN"; }
 amber-item-id[value="141"]:hover::before { content: "BRECHEISEN"; }
 amber-item-id[value="142"]:hover::before { content: "SPITZHACKE"; }
 amber-item-id[value="143"]:hover::before { content: "SCHAUFEL"; }
 amber-item-id[value="144"]:hover::before { content: "SEIL"; }
 amber-item-id[value="145"]:hover::before { content: "RUNENALPHABET"; }
 amber-item-id[value="160"]:hover::before { content: "KARTE VON LYRAMION"; }
 amber-item-id[value="206"]:hover::before { content: "TESTAMENT"; }
 amber-item-id[value="210"]:hover::before { content: "BUCH DER ARACHNIDEN"; }
 amber-item-id[value="241"]:hover::before { content: "DREBLIN'S NOTIZEN"; }
 amber-item-id[value="244"]:hover::before { content: "TEXTROLLE"; }
 amber-item-id[value="274"]:hover::before { content: "ZETTEL DES BANDITEN"; }
 amber-item-id[value="300"]:hover::before { content: "SABINE'S TAGEBUCH"; }
 amber-item-id[value="329"]:hover::before { content: "KIRE'S BUCH"; }
 amber-item-id[value="339"]:hover::before { content: "WINDTOR BUCH"; }
 amber-item-id[value="345"]:hover::before { content: "REZEPT"; }
 amber-item-id[value="362"]:hover::before { content: "ANTIKES BUCH"; }
 amber-item-id[value="372"]:hover::before { content: "S'OREL NACHRICHTEN"; }
 amber-item-id[value="373"]:hover::before { content: "PALADIN BUCH"; }
 amber-item-id[value="374"]:hover::before { content: "KRÄUTER BUCH"; }
 amber-item-id[value="376"]:hover::before { content: "AMBERMOON NOVELLE"; }
 amber-item-id[value="381"]:hover::before { content: "KIRE'S NACHRICHT"; }
 amber-item-id[value="387"]:hover::before { content: "MORAG KARTE"; }
 amber-item-id[value="397"]:hover::before { content: "BESTELLUNG SANDBOOT"; }
 amber-item-id[value="146"]:hover::before { content: "GEMME"; }
 amber-item-id[value="147"]:hover::before { content: "DIAMANT"; }
 amber-item-id[value="148"]:hover::before { content: "SMARAGD"; }
 amber-item-id[value="149"]:hover::before { content: "RUBIN"; }
 amber-item-id[value="150"]:hover::before { content: "ERDSTEIN"; }
 amber-item-id[value="151"]:hover::before { content: "BERNSTEIN"; }
 amber-item-id[value="152"]:hover::before { content: "REGENBOGENSTEIN"; }
 amber-item-id[value="153"]:hover::before { content: "BERGKRISTALL"; }
 amber-item-id[value="154"]:hover::before { content: "TOPAZ"; }
 amber-item-id[value="208"]:hover::before { content: "SILBERBESTECK"; }
 amber-item-id[value="266"]:hover::before { content: "SILBERHAND"; }
 amber-item-id[value="282"]:hover::before { content: "GALASTEIN"; }
 amber-item-id[value="162"]:hover::before { content: "HUT"; }
 amber-item-id[value="163"]:hover::before { content: "HORNHELM"; }
 amber-item-id[value="164"]:hover::before { content: "STAHLHELM"; }
 amber-item-id[value="248"]:hover::before { content: "TARNKAPPE"; }
 amber-item-id[value="278"]:hover::before { content: "SONNENHELM"; }
 amber-item-id[value="290"]:hover::before { content: "LICH KRONE"; }
 amber-item-id[value="360"]:hover::before { content: "SCHLANGENHELM"; }
 amber-item-id[value="165"]:hover::before { content: "KLEIDUNG"; }
 amber-item-id[value="166"]:hover::before { content: "ROBE"; }
 amber-item-id[value="167"]:hover::before { content: "LEDER"; }
 amber-item-id[value="168"]:hover::before { content: "WATTIERTES LEDER"; }
 amber-item-id[value="169"]:hover::before { content: "BESCHLAGENES LEDER"; }
 amber-item-id[value="170"]:hover::before { content: "KETTENHEMD"; }
 amber-item-id[value="171"]:hover::before { content: "BÄNDERPANZER"; }
 amber-item-id[value="172"]:hover::before { content: "PLATTENPANZER"; }
 amber-item-id[value="173"]:hover::before { content: "RITTERRÜSTUNG"; }
 amber-item-id[value="249"]:hover::before { content: "SCHATTENGÜRTEL"; }
 amber-item-id[value="262"]:hover::before { content: "ALTE ROBE"; }
 amber-item-id[value="275"]:hover::before { content: "SCHATTENLEDER"; }
 amber-item-id[value="286"]:hover::before { content: "ROBE DES MAGUS"; }
 amber-item-id[value="299"]:hover::before { content: "ROBE DER GALA"; }
 amber-item-id[value="311"]:hover::before { content: "VALDYN'S LEDERCAPE"; }
 amber-item-id[value="322"]:hover::before { content: "MITRHIL HEMD"; }
 amber-item-id[value="382"]:hover::before { content: "MORAG ROBE"; }
 amber-item-id[value="396"]:hover::before { content: "MORAG RÜSTUNG"; }
 amber-item-id[value="174"]:hover::before { content: "SANDALEN"; }
 amber-item-id[value="175"]:hover::before { content: "LEDERSCHUHE"; }
 amber-item-id[value="176"]:hover::before { content: "LEDERSTIEFEL"; }
 amber-item-id[value="250"]:hover::before { content: "FLINKSCHUHE"; }
 amber-item-id[value="312"]:hover::before { content: "VALDYNS LEDERSCHUHE"; }
 amber-item-id[value="347"]:hover::before { content: "BLITZSTIEFEL"; }
 amber-item-id[value="361"]:hover::before { content: "MAGIERSTIEFEL"; }
 amber-item-id[value="177"]:hover::before { content: "BUCKLER"; }
 amber-item-id[value="178"]:hover::before { content: "RUNDSCHILD"; }
 amber-item-id[value="179"]:hover::before { content: "KLEINES TURMSCHILD"; }
 amber-item-id[value="180"]:hover::before { content: "GROSSES TURMSCHILD"; }
 amber-item-id[value="395"]:hover::before { content: "MORAG SCHILD"; }
 amber-item-id[value="181"]:hover::before { content: "MESSER"; }
 amber-item-id[value="182"]:hover::before { content: "DOLCH"; }
 amber-item-id[value="183"]:hover::before { content: "KURZSCHWERT"; }
 amber-item-id[value="184"]:hover::before { content: "LANGSCHWERT"; }
 amber-item-id[value="185"]:hover::before { content: "SCIMITAR"; }
 amber-item-id[value="186"]:hover::before { content: "ZWEIHÄNDER"; }
 amber-item-id[value="187"]:hover::before { content: "HEILIGES SCHWERT"; }
 amber-item-id[value="188"]:hover::before { content: "KAMPFSTAB"; }
 amber-item-id[value="189"]:hover::before { content: "KEULE"; }
 amber-item-id[value="190"]:hover::before { content: "DRESCHFLEGEL"; }
 amber-item-id[value="191"]:hover::before { content: "STREITKOLBEN"; }
 amber-item-id[value="192"]:hover::before { content: "MORGENSTERN"; }
 amber-item-id[value="193"]:hover::before { content: "KAMPFHAMMER"; }
 amber-item-id[value="194"]:hover::before { content: "AXT"; }
 amber-item-id[value="195"]:hover::before { content: "KAMPFAXT"; }
 amber-item-id[value="196"]:hover::before { content: "TRIDENT"; }
 amber-item-id[value="197"]:hover::before { content: "PEITSCHE"; }
 amber-item-id[value="232"]:hover::before { content: "MANDO'S SCHWERT"; }
 amber-item-id[value="237"]:hover::before { content: "NECROMANTEN DOLCH"; }
 amber-item-id[value="251"]:hover::before { content: "MÖRDERKLINGE"; }
 amber-item-id[value="276"]:hover::before { content: "FEUERBRAND"; }
 amber-item-id[value="298"]:hover::before { content: "KEULE DER GALA"; }
 amber-item-id[value="313"]:hover::before { content: "VALDYN'S SCHWERT"; }
 amber-item-id[value="319"]:hover::before { content: "DÄMONENSPIESS"; }
 amber-item-id[value="330"]:hover::before { content: "ZWERGENAXT"; }
 amber-item-id[value="337"]:hover::before { content: "SCHNELLSTICH"; }
 amber-item-id[value="356"]:hover::before { content: "ZEITSTOPPER"; }
 amber-item-id[value="394"]:hover::before { content: "MORAG SCHWERT"; }
 amber-item-id[value="198"]:hover::before { content: "SCHLEUDER"; }
 amber-item-id[value="199"]:hover::before { content: "KURZBOGEN"; }
 amber-item-id[value="200"]:hover::before { content: "LANGBOGEN"; }
 amber-item-id[value="201"]:hover::before { content: "ARMBRUST"; }
 amber-item-id[value="231"]:hover::before { content: "STEINSCHLEUDER"; }
 amber-item-id[value="277"]:hover::before { content: "ZIELBOGEN"; }
 amber-item-id[value="285"]:hover::before { content: "WURFSICHEL"; }
 amber-item-id[value="296"]:hover::before { content: "FERRIN'S ARMBRUST"; }
 amber-item-id[value="331"]:hover::before { content: "ZWERGENSCHLEUDER"; }
 amber-item-id[value="338"]:hover::before { content: "DOLCHSCHLEUDER"; }
 amber-item-id[value="350"]:hover::before { content: "ELFENBOGEN"; }
 amber-item-id[value="351"]:hover::before { content: "MAGISCHE WURFAXT"; }
 amber-item-id[value="383"]:hover::before { content: "MORAG DART"; }
 amber-item-id[value="202"]:hover::before { content: "SCHLEUDERSTEINE"; }
 amber-item-id[value="203"]:hover::before { content: "PFEIL"; }
 amber-item-id[value="204"]:hover::before { content: "BOLZEN"; }
 amber-item-id[value="233"]:hover::before { content: "MAGISCHE PFEILE"; }
 amber-item-id[value="323"]:hover::before { content: "MAGISCHE BOLZEN"; }
 amber-item-id[value="335"]:hover::before { content: "SCHLEUDERMESSER"; }
 amber-item-id[value="336"]:hover::before { content: "SCHLEUDERDOLCH"; }
 amber-item-id[value="207"]:hover::before { content: "EISENRING"; }
 amber-item-id[value="271"]:hover::before { content: "RING DES SOBEK"; }
 amber-item-id[value="288"]:hover::before { content: "ALKEM'S RING"; }
 amber-item-id[value="302"]:hover::before { content: "RING DER STÄRKE"; }
 amber-item-id[value="303"]:hover::before { content: "RING DER INTELLI."; }
 amber-item-id[value="304"]:hover::before { content: "RING DER GESCHICK."; }
 amber-item-id[value="305"]:hover::before { content: "RING DER SCHNELL."; }
 amber-item-id[value="306"]:hover::before { content: "RING DER KONSTIT."; }
 amber-item-id[value="307"]:hover::before { content: "KARISMA RING"; }
 amber-item-id[value="308"]:hover::before { content: "GLÜCKS RING"; }
 amber-item-id[value="309"]:hover::before { content: "ANTIMAGIE RING"; }
 amber-item-id[value="333"]:hover::before { content: "PARADERING"; }
 amber-item-id[value="342"]:hover::before { content: "NERA'S RING"; }
 amber-item-id[value="359"]:hover::before { content: "SANSRIE'S RING"; }
 amber-item-id[value="211"]:hover::before { content: "HEILTRANK I"; }
 amber-item-id[value="212"]:hover::before { content: "HEILTRANK II"; }
 amber-item-id[value="213"]:hover::before { content: "HEILTRANK III"; }
 amber-item-id[value="214"]:hover::before { content: "HEILTRANK IV"; }
 amber-item-id[value="215"]:hover::before { content: "ALLHEILUNGS PHIOLE"; }
 amber-item-id[value="216"]:hover::before { content: "STÄRKUNGS PHIOLE"; }
 amber-item-id[value="217"]:hover::before { content: "ENTGIFTUNGS PHIOLE"; }
 amber-item-id[value="219"]:hover::before { content: "JUNGBRUNNEN PHIOLE"; }
 amber-item-id[value="220"]:hover::before { content: "SPRUCHPUNKTE I"; }
 amber-item-id[value="221"]:hover::before { content: "SPRUCHPUNKTE II"; }
 amber-item-id[value="222"]:hover::before { content: "SPRUCHPUNKTE III"; }
 amber-item-id[value="223"]:hover::before { content: "SPRUCHPUNKTE IV"; }
 amber-item-id[value="224"]:hover::before { content: "SPRUCHPUNKTE V"; }
 amber-item-id[value="225"]:hover::before { content: "STÄRKE TRUNK"; }
 amber-item-id[value="226"]:hover::before { content: "INTELLIGENZ TRUNK"; }
 amber-item-id[value="227"]:hover::before { content: "GESCHICKLICH. TRUNK"; }
 amber-item-id[value="228"]:hover::before { content: "SCHNELLICHKE. TRUNK"; }
 amber-item-id[value="229"]:hover::before { content: "KONSTITUTION TRUNK"; }
 amber-item-id[value="230"]:hover::before { content: "KARISMA TRUNK"; }
 amber-item-id[value="245"]:hover::before { content: "MAGENBITTER"; }
 amber-item-id[value="252"]:hover::before { content: "ANTI-MAGIE TRUNK"; }
 amber-item-id[value="253"]:hover::before { content: "GEGENMITTEL"; }
 amber-item-id[value="254"]:hover::before { content: "WASSER DES LEBENS"; }
 amber-item-id[value="295"]:hover::before { content: "FERRIN'S LIKÖR"; }
 amber-item-id[value="324"]:hover::before { content: "AROMATISCHES KRAUT"; }
 amber-item-id[value="325"]:hover::before { content: "LEUCHTENDE BLÜTEN"; }
 amber-item-id[value="326"]:hover::before { content: "LÄNGLICHE BLÄTTER"; }
 amber-item-id[value="327"]:hover::before { content: "BLAUE HALME"; }
 amber-item-id[value="328"]:hover::before { content: "FUNKELNDE PILZE"; }
 amber-item-id[value="380"]:hover::before { content: "STINKENDER PILZ"; }
 amber-item-id[value="399"]:hover::before { content: "LÄHMUNG HEILEN"; }
 amber-item-id[value="234"]:hover::before { content: "PERLMUTT KETTE"; }
 amber-item-id[value="265"]:hover::before { content: "AMULETT T A R B O S"; }
 amber-item-id[value="269"]:hover::before { content: "AMTSKETTE"; }
 amber-item-id[value="289"]:hover::before { content: "KRYPTA SCHLÜSSEL"; }
 amber-item-id[value="310"]:hover::before { content: "MOND AMULETT"; }
 amber-item-id[value="314"]:hover::before { content: "VALDYN'S AMULETT"; }
 amber-item-id[value="332"]:hover::before { content: "ZIELBROSCHE"; }
 amber-item-id[value="348"]:hover::before { content: "KAY'S AMULETT"; }
 amber-item-id[value="358"]:hover::before { content: "SANSRIES HALSBAND"; }
 amber-item-id[value="238"]:hover::before { content: "NECROMANTEN BROSCHE"; }
 amber-item-id[value="273"]:hover::before { content: "GOLDBROSCHE"; }
 amber-item-id[value="293"]:hover::before { content: "DORINA'S BROSCHE"; }