.amber-list__items {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

.amber-text {
	font-family: "Ambermoon-game", monospace;
	color: #ffffee;
	text-shadow: 0.2em 0.2em 0px black;
	font-size: 10px;
	line-height: 1.6em;
	font-weight: normal;
	font-style: normal;
}

.amber-text--dark {
	color: #888877;
}

.amber-text--gray {
	color: #aaaa99;
}

.amber-text--silver {
	color: #ccccbb;
}

.amber-text--cyan {
	color: #00ccff;
}

.amber-text--yellow {
	color: #ffcc00;
}

.amber-text--orange {
	color: #ff9900;
}

.amber-text--red {
	color: #cc4433;
}

.amber-text--green {
	color: #AAAA44;
}

.amber-text--blue {
	color: #8798a9;
}

.amber-text--spellbook-0 {
	color: #fefeff;
}

.amber-text--spellbook-1 {
	color: #8798a9;
}

.amber-text--spellbook-2 {
	color: #cfcf2e;
}

.amber-text--spellbook-3 {
	color: #cc4433;
}

.amber-text--runes {
	font-family: Ambermoon-rune;
}

.amber-text--large {
	font-size: 15px;
}

.amber-text--left {
	text-align: left !important;
}

.amber-text--right {
	text-align: left !important;
}

.amber-text--center {
	text-align: center !important;
}

.amber-textbox p {
	margin: 0;
	line-height: 1.4em;
}

.amber-textbox p+p {
	margin-top: 1.4em;;
}

.amber-icon {
	display: inline-block;
}

.amber-icon::before {
	font-size: 16px;
	width: 1em;
	height: 1em;
	image-rendering: pixelated;
	background-image: url("/slothsoft@amber/static/ambermoon/gfx/items");
	background-clip: content-box;
	background-size: cover;
	background-repeat: no-repeat;
	content: " ";
	display: inline-block;
	vertical-align: bottom;
}

.amber-icon--attack::before {
	background-position-y: -24em;
}

.amber-icon--magic-attack::before {
	background-position-y: -48em;
}

.amber-icon--defense::before {
	background-position-y: -42em;
}

.amber-icon--magic-defense::before {
	background-position-y: -89em;
}

.amber-icon--gold::before {
	background-position-y: -96em;
}

.amber-icon--food::before {
	background-position-y: -109em;
}

.amber-icon--is-important::before {
	background-position-y: -94em
}

.amber-icon--is-stackable::before {
	background-position-y: -51em;
}

.amber-icon--is-combat-equippable::before {
	background-position-y: -24em;
}

.amber-icon--is-useable::before {
	background-position-y: -97em;
}

.amber-icon--is-cloneable::before {
	background-position-y: -96em;
}

.amber-icon--not::before {
	opacity: 0.3;
}

.amber-popup {
	display: none;
	position: fixed;
	width: 100vw;
	height: 100vh;
	overflow: hidden;
	top: 0;
	left: 0;
	background-color: rgba(0, 0, 0, 0.3);
}

.amber-popup--visible {
	display: flex;
	align-items: center;
	justify-content: center;
}

.amber-tabs__label {
	display: block;
	text-align: center;
	margin: 0.5em 0;
}

.amber-tabs__list {
	list-style: none;
	padding: 0;
	margin: 0;
}

.amber-flex__list {
	display: flex;
	padding: 0;
	margin: 0;
	list-style: none;
	gap: 1ch;
}

.amber-table {
	margin: auto;
}

.amber-table__label {
	text-align: center;
	margin: 0.5em 0;
}

.amber-flex__label {
	text-align: center;
	margin: 0.5em 0;
}

.amber-flex--shop .amber-flex__list {
	display: grid;
	grid-auto-flow: row;
	grid-template-columns: repeat(12, 1fr);
	width: fit-content;
	margin: auto;
	gap: 0.5ch;
}

.amber-class, .amber-race {
	text-align: center;
	width: fit-content;
	background-color: #666655;
}

.amber-table {
	border-spacing: 2px;
}

.amber-table th {
	text-align: right;
	font-weight: normal;
	padding: 0;
}

.amber-table td {
	text-align: left;
	padding: 0;
}

.amber-table--numbers {
	border-spacing: 1ch 0;
}

.amber-table--numbers td {
	text-align: right;
}

.amber-table .amber-editor__input--widget {
	width: 100%;
}

.amber-table--attributes th::after, .amber-table--skills th::after {
	content: ":";
}

.amber-table .amber-editor__event-number {
	text-align: right;
}