.amber-spell {
	width: 32ch;
	background-color: #666655;
	padding: 0.5ch;
}

.amber-spell__data {
	display: flex;
	align-items: start;
	justify-content: space-between;
}

.amber-spell__data .amber-table {
	margin: 0;
}