.amber-editor__settings {
	margin: auto;
	width: 60em;
}

.amber-editor__form {
	background-color: #666655;
	margin: 1em auto;
	width: fit-content;
	padding: 1em;
}

.amber-editor amber-portrait-id::after {
	font-size: 3px;
}

.amber-editor__actions {
	display: flex;
	justify-content: center;
	gap: 2ch;
	margin-top: 1em;
}

.amber-editor__info {
	display: block;
	text-align: center;
	margin-top: 1em;
}

.amber-editor .amber-flex__list {
	flex-wrap: wrap;
	justify-content: space-evenly;
}

.amber-editor *[readonly] {
	border: none;
	background: none;
	appearance: textfield;
	padding: 0;
}

.amber-editor__input {
	box-sizing: border-box;
	border-color: #222222 #aaaa99 #aaaa99 #222222;
	border-width: 0.125em;
	border-style: solid;
	background-color: #444433;
	text-align: center;
	padding: 2px 4px;
}

.amber-editor__input:disabled {
	opacity: 0.8;
}

.amber-editor__input--tabs {
	text-align: left;
}

.amber-editor--infoset-lib-new .amber-editor__input--string {
	max-width: 194px;
}

.amber-editor__input:enabled:hover {
	border-color: #ffcc00;
}

.amber-editor__input--widget {
	border-color: #aaaa99 #222222 #222222 #aaaa99;
}

.amber-editor__input--widget:enabled:active {
	border-color: #222222 #aaaa99 #aaaa99 #222222;
	padding: 3px 3px 1px 5px;
}

.amber-editor__input--left {
	text-align: left;
}

.amber-editor__input--right {
	text-align: right;
}

.amber-editor__input--select, .amber-editor__input--string {
	display: block;
	width: 100%;
	margin: 0 auto;
	box-sizing: border-box;
}

.amber-editor__input--integer, .amber-editor__input--signed-integer {
	text-align: right;
}

.amber-editor__input--integer[readonly],
	.amber-editor__input--signed-integer[readonly] {
	appearance: textfield;
}

.amber-editor__attributes, .amber-editor__skills {
	margin: auto;
	width: 12ch;
}

.amber-editor__party {
	display: flex;
	justify-content: center;
	gap: 2ch;
	margin: 1em auto;
}

.amber-editor__party>* {
	width: fit-content;
	text-align: center;
	display: flex;
	flex-direction: column;
	gap: 0.5em;
}

.amber-editor__party>*[disabled] {
	visibility: hidden;
}

.amber-editor__languages ul {
	margin: 0;
	padding-left: 2ch;
	list-style: none;
	text-align: left;
	list-style: none;
}

.amber-editor__hidden {
	display: none;
}

.amber-editor__member-count {
	display: block;
	text-align: center;
}

.amber-editor__member-count input {
	display: block;
	width: 92ch;
	margin: 0.75em auto;
}

.amber-editor__settings td {
	text-align: left;
	padding: 0.25em 0.5em;
}

.amber-editor__settings th {
	text-align: left;
	padding: 0.25em 0.5em;
	font-weight: bold;
}

.amber-editor__form h2 {
	text-align: center;
	margin-top: 0;
}

.amber-editor .amber-table--attributes, .amber-editor .amber-table--skills
	{
	width: 20ch;
}

.amber-flex--equipment .amber-flex__list {
	margin: 0;
	padding: 0;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	list-style: none;
	text-align: center;
}

.amber-flex--equipment amber-embed {
	margin: auto;
}

.amber-editor__fieldset {
	margin: auto;
	padding: 0;
	border: none;
}

.amber-flex--inventory .amber-flex__list {
	margin: 0;
	padding: 0;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	list-style: none;
	text-align: center;
	gap: 0.5ch;
}

.amber-editor__input--button {
	width: 100%;
}

.amber-editor__event-payload {
	display: flex;
}
