/* alle picker */
amber-picker {
	display: block;
	position: relative;
	box-sizing: border-box;
	width: 3ch;
	height: 3ch;
	background-color: #444433;
	border-color: #222222 #aaaa99 #aaaa99 #222222;
	border-width: 0.125em;
	border-style: solid;
	background-color: #444433;
}

/* items */
amber-picker.item-picker {
	margin: auto;
}

amber-item-id, amber-item-amount, amber-item-charge, amber-broken,
	amber-identified, amber-item-gfx {
	display: block;
}

amber-item-id:hover::before {
	display: block;
	pointer-events: none;
	text-align: center;
	position: absolute;
	width: max-content;
	width: -moz-max-content;
	width: -webkit-max-content;
	left: 50%;
	top: 0.5ch;
	transform: translate(-50%, -50%);
	margin-left: -2px;
	z-index: 20;
}

amber-item-id::after, amber-item-gfx::after {
	font-size: 2px;
	width: 16em;
	height: 16em;
	image-rendering: pixelated;
	background-image: url("/slothsoft@amber/static/ambermoon/gfx/items");
	background-clip: content-box;
	background-size: cover;
	background-repeat: no-repeat;
	display: block;
	content: " ";
}

amber-item-id[value=""]::after, amber-item-id[value="0"]::after {
	background-image: none;
}

amber-item-amount::after {
	content: attr(value);
	display: block;
	text-align: center;
}

amber-item-amount[value=""]::after, amber-item-amount[value="0"]::after
	{
	content: " ";
}

amber-item-amount[value="255"]::after {
	content: "**";
}

*[data-template="equip"] amber-item-amount {
	display: none;
}

amber-broken::after {
	font-size: 32px;
	width: 1em;
	height: 1em;
	position: absolute;
	top: 2px;
	left: 2px;
	display: block;
	content: " ";
	background-clip: content-box;
	background-image: url("/slothsoft@amber/static/ambermoon/gfx/broken");
	background-size: cover;
	background-repeat: no-repeat;
}

amber-broken[value=""]::after {
	display: none;
}

amber-identified::after {
	position: absolute;
	top: 24px;
	right: 2px;
	font-size: 0.5em;
	content: "👁";
}

amber-identified[value=""]::after {
	display: none;
}

amber-item-charge::after {
	position: absolute;
	top: -2px;
	right: 2px;
	color: rgb(255, 204, 0);
	font-size: 0.5em;
	content: attr(value);
}

amber-item-charge[value=""]::after, amber-item-charge[value="0"]::after
	{
	display: none;
}

amber-item-charge[value="255"]::after {
	content: "**";
}

/* portraits */
amber-picker.portrait-picker {
	border-style: ridge !important;
}

amber-portrait-id {
	display: block;
}

amber-portrait-id::after {
	width: 32em;
	height: 34em;
	font-size: 2px;
	image-rendering: pixelated;
	background-image: url("/slothsoft@amber/static/ambermoon/gfx/portraits");
	background-clip: content-box;
	background-size: cover;
	background-repeat: no-repeat;
	display: block;
	content: " ";
}

.popup amber-portrait-id::after {
	font-size: 6px;
}

article.Portrait amber-portrait-id::after {
	font-size: 4px;
}

.Character amber-portrait-id::after {
	font-size: 3px;
}

.Character {
	width: 92ch;
	margin: 1em 0.5em;
}

.Character>table {
	width: 100%;
}

.Character .textbox {
	width: auto;
}

.Character .textlabel {
	width: auto;
}

.Character .inventory {
	width: 30em;
}

.Character .spells ul {
	column-gap: 1ch;
	column-count: 3;
	width: 63ch;
}

.Character .attributes, .Character .languages, .Character .skills {
	vertical-align: top;
}

.Character .attributes, .Character .languages {
	width: 12ch;
}

.Character .skills {
	width: 15ch;
}

.Character .character-sheet {
	width: 36ch;
}

.Character .character-sheet td {
	padding: 0 1ch 0 0;
}

/* monsters */
amer-picker.monster-sprite-picker {
	border-style: ridge;
}

amber-gfx-id {
	display: block;
}

amber-monster-id::after {
	font-size: 2px;
	background-size: 100%;
	background-clip: content-box;
	background-repeat: no-repeat;
	image-rendering: pixelated;
	display: block;
	content: " ";
}

/* tilesets */
amber-picker.tile-picker {
	border-width: 1px !important;
	width: 34px;
	height: 34px;
}

amber-tile-id, amber-event-id {
	display: block;
}

*[data-tileset-icon] amber-tile-id::after {
	font-size: 32px;
	width: 1em;
	height: 1em;
	position: absolute;
	top: 0;
	left: 0;
}

*[data-tileset-icon] amber-tile-id[value=""]::after, *[data-tileset-icon] amber-tile-id[value="0"]::after
	{
	display: none;
}

*[data-tileset-lab] amber-tile-id::after {
	position: absolute;
	bottom: 0;
	right: 1px;
	font-size: 0.5em;
	line-height: 1em;
	content: attr(value);
}

*[data-tileset-lab] amber-tile-id[value=""]::after, *[data-tileset-lab] amber-tile-id[value="0"]::after
	{
	display: none;
}

amber-event-id::after {
	position: absolute;
	top: 0;
	left: 0;
	width: 32px;
	line-height: 32px;
	content: attr(value);
	color: rgb(255, 153, 0);
	text-align: center;
}

amber-event-id[value=""]::after, amber-event-id[value="0"]::after {
	display: none;
}

/* BEM */
.amber-list__items {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

.amber-item {
	display: flex;
	flex-direction: row;
	border: 4px ridge black;
	flex-grow: 0;
	line-height: 1em;
	width: fit-content;
	font-size: 16px;
	background-color: #666655;
}

.amber-item>* {
	margin: 0.5ch 0.5ch;
}

.amber-item table {
	border-spacing: 0;
}

.amber-item td {
	padding: 0;
}

.amber-text {
	font-family: "Amberworld 5px", monospace;
	color: #ffffee;
	text-shadow: 0.125em 0.125em 0px black;
	font-size: 16px;
}

.amber-item__name {
	text-align: left;
	padding: 0 0.5ch;
}

.amber-item__name .amber-text {
	width: 19ch;
}

.amber-text--gray {
	color: #aaaa99;
}

.amber-text--silver {
	color: #ccccbb;
}

.amber-text--yellow {
	color: #ffcc00;
}

.amber-text--orange {
	color: #ff9900;
}

.amber-text--red {
	color: #cc4433;
}

.amber-item__worth, .amber-item__stats {
	text-align: right;
}

.amber-item__header {
	display: flex;
}

.amber-item__worth::before, .amber-item__stats::before,
	.amber-item__magic tbody+tbody::before {
	height: 0.25em;
	display: table-row;
	content: " ";
}

.amber-item__worth .amber-item__value {
	width: 10ch;
}

.amber-item__stats .amber-item__value {
	width: 4ch;
}

.amber-item__restrictions {
	display: flex;
	flex-direction: column;
}

.amber-item__restrictions dd {
	margin: 0;
}

.amber-item__classes {
	flex-grow: 1;
}

.amber-item__classes ul {
	display: grid;
	grid-auto-flow: column;
	grid-template-rows: repeat(6, auto);
	list-style-type: none;
	padding: 0;
	grid-auto-flow: column;
	grid-template-rows: repeat(5, auto);
}

.amber-item__magic tbody:first-child {
	text-align: right;
}

.amber-item__magic .amber-item__value {
	width: 3ch;
	padding-right: 1ch;
}

.amber-item__magic .amber-item__value:last-child {
	padding-right: 0;
}

.amber-item__textbox {
	width: 43ch;
	height: 8.75em;
	overflow-y: auto;
}

.amber-item__textbox p {
	margin: 0;
	line-height: 0.875em;
}

.amber-item__textbox p+p {
	margin-top: 0.875em;;
}

@font-face {
	font-family: Amberworld 5px;
	src: local("Amberworld 5px"), url("/slothsoft@amber/fonts/Amberworld");
}