.context-menu {
	box-sizing: border-box;
	border-color: #aaaa99 #222222 #222222 #aaaa99;
	border-width: 0.125em;
	border-style: solid;
	background-color: #444433;
	padding: 2px 4px;
}

.context-menu__item {
	display: block;
	text-align: right;
}

.context-menu__input {
	font-family: inherit;
	font-size: inherit;
	text-shadow: inherit;
	color: #ffffee;
	background: none;
	border: none;
	padding: 0;
	margin: 0;
	text-align: right;
	height: 1.6em;
	vertical-align: bottom;
}

.context-menu__input--map {
	display: block;
	width: 100%;
	text-align: center;
}

.context-menu__item--title {
	font-size: inherit;
	text-align: center;
	font-weight: normal;
	margin: 0;
	color: #8798a9;
}