.Amber {
	font-size: 1em;
	font-weight: bold;
	color: #FFFFEE;
	image-rendering: pixelated;
	image-rendering: -moz-crisp-edges;
	/*
	text-shadow: black 1px 1px 1px, black 1px 1px 0px;
	text-shadow:
    1px 0px 0 black,
    0px 1px 0 black,
     1px 1px 0 black;
	 */
}

.Amber canvas {
	image-rendering: pixelated;
	image-rendering: -moz-crisp-edges;
}

.Amber .DungeonViewer {
	
}

.Amber, .Amber a:link, .Amber a:visited {
	text-shadow: black 1px 1px, black 0px 1px, black 1px 0px;
}

.Amber summary::marker {
	text-shadow: inherit;
}

.Amber summary::-moz-list-bullet {
	text-shadow: inherit;
}

.Amber summary::-webkit-details-marker {
	text-shadow: inherit;
}

.Amber, .Amber summary, .Amber code {
	font-family: myOldschool, monospace;
	text-transform: uppercase;
}

.Amber.Instructions, .Amber .errorMessage * {
	font-family: myParagraph, serif;
	text-transform: none;
}

.Amber .settings td {
	padding: 0 0.75em;
}

.Amber * {
	font-weight: inherit;
	font-family: inherit;
	text-transform: inherit;
	font-size: inherit;
	text-shadow: inherit;
	color: inherit;
}

.Amber h2 {
	margin: 0.25em 0;
}

.Amber h3 {
	margin: 0;
}

.Amber input[type="submit"], .Amber button, .Amber details, .Amber article
	{
	background-color: #666655;
	border-color: #666655;
	border-width: 2px;
	border-style: outset;
	box-sizing: border-box;
	border-radius: 2px;
}

.Amber textarea, .Amber input[type="text"], .Amber input[type="number"],
	.Amber select, .Amber *[role="button"] {
	max-width: 100%;
	background-color: #444433;
	border-color: #444433;
	border-width: 2px;
	border-style: inset;
	box-sizing: border-box;
	border-radius: 0;
}

.Amber textarea {
	overflow: auto;
}

.Amber textarea[data-type="binary"] {
	white-space: pre-wrap;
}

.Amber textarea[data-type="evet-script"] {
	white-space: pre;
}

.Amber article {
	border-width: 4px;
	border-radius: 4px;
}

.Amber .command {
	border-style: groove;
}

.Amber .textbox {
	border-style: ridge;
	border-width: 2px;
	padding: 0.5ch;
	margin: 0.5ch;
	width: 57ch;
	max-height: 20ch;
	overflow: auto;
	font-size: smaller;
	background-color: #444433;
	border-color: #444433;
}

.Amber .textbox p {
    margin: 0;
}

.Amber .textbox p + p {
	margin-top: 1em;
}

.Amber .textlabel {
	white-space: pre-wrap;
	border-style: solid;
	border-width: 2px;
	padding: 0 0.5ch;
	margin: 0.5ch;
	width: 57ch;
	font-size: smaller;
	border-color: transparent;
}

.Amber article {
	border-style: ridge;
}

.Amber p.pre {
	margin: auto;
}

.Amber input[type="submit"]:active, .Amber button:active, .Amber details:active,
	.Amber details[open] {
	border-style: inset;
}

.Amber input:focus, .Amber select:focus, .Amber button:focus, .Amber *[role="button"]:focus
	{
	border-color: #FFCC00;
}

.Amber .orange, .Amber form:invalid button[type="submit"] {
	color: #FF9900;
}

.Amber .yellow, .Amber .command, .Amber input[type="text"], .Amber *[data-type="string-dictionary"] li::before
	{
	color: #FFCC00;
}

.Amber .green, .Amber .section>.name, .Amber caption, .Amber h3, .Amber a:link
	{
	color: #AAAA44;
}

.Amber .gray, .Amber a:visited, .Amber *[data-type="string-dictionary"] li
	{
	color: #AAAA99;
}

.Amber details {
	overflow: auto;
}

.Amber details+details {
	margin-top: 0.5em;
}

.Amber details details {
	margin-right: 0.5em;
	margin-bottom: 0.5em;
	border-width: 1px;
}

.Amber button {
	margin-left: 0.5em;
}

.Amber ul {
	padding: 0;
	list-style-type: none;
}

.Amber caption {
	text-align: left;
}

.Amber input[type="number"], .Amber .right-aligned {
	text-align: right;
}

.Amber input[type="text"] {
	
}

.Amber input[type="checkbox"] {
	width: 1.5em;
}

.Amber input[size="1"], .Amber input[size="2"], .Amber input[max="99"],
	.Amber input[max="250"] {
	width: 3.5em;
}

.Amber input[max="256"], .Amber input[max="999"] {
	width: 3.5em;
}

.Amber input[max="65536"], .Amber input[size="3"], .Amber input[size="4"]
	{
	width: 6em;
}

.Amber select {
	min-width: 6em;
}

.Amber .events select {
	max-width: 6em;
}

.Amber .smaller {
	font-size: smaller;
}

.Amber .pre {
	white-space: pre-wrap;
}

.Amber .EPChart {
	width: 25em;
}

.Amber .Item {
	margin: 0.25em 0;
}

.Amber .Item table {
	border-spacing: 0;
	margin: 0.25em 0;
}

.Amber .Item tbody+tbody>tr:first-child>* {
	border-top: 0.25em solid transparent;
}

.Amber .Item td {
	height: 1.25em;
	line-height: 1.25em;
	padding: 0 0.25em;
	white-space: nowrap;
}

.Amber .Item .ItemName td:last-child {
	width: 19ch;
}

.Amber .Item .ItemData td:last-child {
	width: 3em;
	padding-right: 0;
}

.Amber .Item .ItemData tbody+tbody td:last-child {
	padding-right: 6ch;
}

.Amber .Item .ItemClasses ul {
	column-gap: 1ch;
	column-count: 2;
	width: 22ch;
	min-height: 6.25em;
}

.Amber .Item .ItemMagic td {
	min-width: 5ch;
}

.Amber .RaceData .number {
	width: 3ch;
}

.Amber .ClassData .number {
	width: 4ch;
}

.Amber .popup {
	position: fixed;
	top: 50%;
	left: 0;
	right: 0;
	transform: translate(0, -50%);
	margin: auto;
	z-index: 20;
	width: fit-content;
	width: -moz-fit-content;
	width: -webkit-fit-content;
}

.Amber .popup article {
	margin: 0;
	box-shadow: black 0.25em 0.25em 0.5em, black 0.25em 0.25em 0.5em;
}

@media ( max-width : 950px) {
	.Amber .popup {
		font-size: smaller;
	}
}

.Amber .map {
	max-width: 100%;
	max-height: 80vh;
	overflow: auto;
}

.Amber .map table {
	border-spacing: 0;
	table-layout: fixed;
}

.Amber .map td {
	padding: 0;
	width: 34px;
	height: 34px;
}

.Amber *[data-hover-text], .Amber form button[type="submit"] {
	position: relative;
}
/* , .Amber form:invalid button[type="submit"]:hover::after */
.Amber *[data-hover-text]:hover::after {
	display: block;
	content: attr(data-hover-text);
	pointer-events: none;
	text-align: center;
	position: absolute;
	width: max-content;
	width: -moz-max-content;
	width: -webkit-max-content;
	left: 50%;
	top: 0.5ch;
	transform: translate(-50%, -50%);
	margin-left: -2px;
	z-index: 10;
}

.Amber form:invalid button[type="submit"]:hover::after {
	content: "Formvalidierung fehlgeschlagen!";
	color: #FFFFEE;
}

.Amber *[data-template="equip"] .name, .Amber .equipment .name, .Amber article.Portrait
	{
	display: block;
	text-align: center;
}

.Amber .ailments ul {
	column-count: 2;
}

*[data-template="tabs"]>label {
	display: block;
	text-align: center;
	margin-bottom: 16px;
}

*[data-template="tabs"]>label>* {
	display: block;
	width: auto;
	margin: auto;
}

*[data-template="flex"].Equip, .equipment {
	width: 18em;
}

*[data-template="flex"].Equip>ul>li, .equipment>ul>li {
	width: 6em;
	margin: 0;
}

*[data-template="flex"].Inventar, .inventory {
	width: 9em;
}

*[data-template="flex"].Shop, *[data-template="flex"].Chest, .shop {
	width: 36em;
}

*[data-template="flex"].Items>ul {
	justify-content: center;
}

*[data-template="flex"].Items>ul>li, .shop>ul>li {
	margin: 0.25em;
}

*[data-template="flex"] {
	max-width: 100%;
}

*[data-template="flex"]>ul {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-around;
	align-items: stretch;
}

*[data-template="flex"]>ul>li {
	display: block;
	max-width: 100%;
}

*[data-template="flex"]>.name {
	display: block;
	text-align: center;
}

*[data-template="flex"].spells>ul>li {
	width: 17em;
}

.events {
	font-size: smaller;
}

.spells {
	font-size: 0.75em;
	min-width: 12em;
}

*[data-template="columns"] {
	display: table;
}

*[data-template="columns"]>* {
	display: table-cell;
	vertical-align: top;
}