*[data-hover-text] {
	position: relative;
}

*[data-hover-text]:hover::after {
	display: block;
	content: attr(data-hover-text);
	pointer-events: none;
	text-align: center;
	position: absolute;
	width: max-content;
	width: -moz-max-content;
	width: -webkit-max-content;
	left: 50%;
	top: 0.5ch;
	transform: translate(-50%, -50%);
	margin-left: -2px;
	z-index: 10;
	border-color: #aaaa99 #222222 #222222 #aaaa99;
	border-width: 0.125em;
	padding: 0.125em;
	border-style: solid;
	background-color: #444433;
	border-style: solid;
}

span[data-ch] {
	display: inline-block;
}

*[data-ch="1"] {
	width: 1ch;
}

*[data-ch="2"] {
	width: 2ch;
}

*[data-ch="3"] {
	width: 3ch;
}

*[data-ch="4"] {
	width: 4ch;
}

*[data-ch="5"] {
	width: 5ch;
}